.hero-unit
  h1 Online Quiz
  p 2013 MicroStrategy Campus Recruiting
  p
    a.btn.btn-primary.btnlarge(href='#/logo') Get Started

  br 

  //- .alert.alert-block.alert-success.rule
  //-hr 
  h3 答题须知:
  p 1. 答题前请确保您已在ChinaHR上提交简历并获得网申ID。
  p 2. 必答部分四题，答对一题方可进入下一题。
  p 3. 最后一题为操作题，提交答案后不可修改，请谨慎答题，提交结果后完成答题。