!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title MicroStrategy Online Quiz
    link(rel='stylesheet', href='/css/app.css')
    //- link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css')

  body
    include includes/navigator
    block body
    include includes/footer