!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title MicroStrategy Online Quiz
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
  body
    include includes/navigator
    block body
    include includes/footer